<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Gate Appointments</h1>
    <p class="lead">Container appointments made easy</p>
    <hr class="my-4">
    <p>Create container appointments for your terminal visits at the marine terminals in the area</p>
  </div>
</div>
