<div class="flickr_pagination">
    <%= will_paginate @trucking_companies, :container => false %>
</div>

<%= render 'trucking_company'%>

<div class="flickr_pagination">
    <%= will_paginate @trucking_companies, :container => false %>
</div>
<br>
